.header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-bottom: 1px solid darkgreen;
}

.body {
    display: flex;
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}


.shelf {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #d3b683;
    padding: 20px;
    height: auto; /* Change height to auto to accommodate variable content */
    display: flex;
    flex-direction: column; /* Change flex direction to column */
    align-items: flex-start; /* Align items to start */

}


.line {
    height: 15px;
    background-color: #4d3319;
    width: 100%; /* Ensure the line spans the full width */
}

.body.shelf.jar {
    flex-direction: row;
    margin: 10px;
    align-items: flex-end;
}

.jar {
    display: flex; /* Use flex to align images horizontally */
    margin-top: 10px; /* Add margin between lines */

}

.jar-img {
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
}

.jar p {
    margin: 0;
    align-items: center;
    text-align: center;
    cursor: pointer;
}